
#container {
  margin: 1rem;
}

.repo-title {
  margin-bottom: 1.5rem;
}

.listing {
  margin-bottom: 1rem;
}

.question-list-a {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: #E6EAEA 1px solid;
 margin: -1px;
 padding: 10px;
}

.exceeded-text-hidden {
  white-space: nowrap; 
  width: 700px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

