.top-weekly {
    width: 100%;
    padding: 24px 16px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.top-weekly h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #000;
}

.top-weekly img {
    margin-right: 15px;
    height: 22px;
    width: 22px;
    margin-top: 4px;
    margin-left: 4px;
}

.top-weekly .hot-topics {
    display: flex;
    margin-bottom: 15px;
}

.top-weekly .hot-topics p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #6c757d;
}

@media screen and (min-width: 1250px) {
    #desktop-top-weekly {
        display: block;
    }

    .top-weekly {
        display: none;
    }
}